    <main>
    <h1 class="text-center pt-5 pb-3">Ecommerce Tecnologia</h1>
    <section>
        <article
        class="d-flex flex-wrap justify-content-center"
        id="products"
        ></article>
    </section>

    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/real.js"></script>