<section
  class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center"
  style="min-width: 380px;"
>
  <h2 class="mt-5 mb-2 text-center">INICIAR SESIÓN</h2>
  <form
    style="max-width: 360px;"
    class="w-100 d-flex flex-column justify-content-center align-items-center"  id="login-form"
  >
    <fieldset class="mb-3 text-center">
      <label for="email" class="form-label mb-0">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" />
    </fieldset>
    <fieldset class="mb-3 text-center">
      <label for="password" class="form-label mb-0">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password" />
    </fieldset>
    
    <button
      id="login"
      type="submit"
      class="w-100 btn btn-danger"
    >Login</button>
  </form>
  
  <button id="google" type="button" class="btn btn-outline-danger mt-3 w-100" >
    <img src="https://www.imtlucca.it/sites/default/files/kisspng-google-logo-logo-logo-5ade7dc753b015.9317679115245306313428.jpg" alt="Google Logo" style="width: 20px; margin-right: 10px;" />
    Login with Google
  </button>
</section>

<script src="/login.js"></script>
